* {     
padding: 0px;
margin: 0px;
}

.main {
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    background-color: chartreuse;
    display: flex;
    flex:0.1;
}

.down{
    background-color: darkcyan;
    display: flex;
    flex: 0.9;
}

.topleft{
    background-color: darkred;
    display: flex ;
    flex:0.2;
    justify-content: center;
    align-items: center;

}

.topright{
    background-color: deeppink;
    display: flex;
    flex: 0.8;
    justify-content: flex-end;
    align-items: center;
    padding: right 20px; 
}

.downleft{
    background-color: firebrick;
    display: flex;
    flex: 0.6;
flex-direction: column;
}

    .downright{
        display: flex;
        flex: 0.5;
        background-color: goldenrod;
        align-items: center;
        justify-content: center;
    }
    .mydiv{
        height: 50%;
        width: 30%;
    }

ul {
    list-style-type: none;

}

 li {
     display: inline;
 }   
 .myheader{
     font-style: italic;
     padding-top: 20px;
     background-color: cadetblue;
     text-align: center;
 }
 .content{
     align-content: center;
 }
 .mybutton{
     width: 30%;
     height: 10%;
     align-self: center;
     background-color: red;
     cursor: pointer;
     border: none;
     outline: none;
     border-radius: 10px;

 }
 .mybutton:hover{
     background-color: saddlebrown;
     color: slateblue;
 }
 .mybutton:active{
     border: 2px solid dodgerblue;
     background-color: transparent;
 }

.button1{
    padding: 10px 10px ;
    background-color: wheat;
    color: blueviolet;
}

.button1:active{
    background-color: blueviolet;
    color: burlywood;
}